extends layout

block content
  h1= title

  ul
    each val in bookinstance_list
      li 
        a(href=val.url) #{val.book.title} : #{val.imprint} - 
        if val.status=='Available'
          span.text-success Disponible
        else if val.status=='Maintenance'
          span.text-danger #{val.status}
        else if val.status=='Loaned'
          span.text-warning Emprunté
        else
          span.text-warning #{val.status}
        if val.status!='Available'
          span  (Retour: #{val.due_back} )

    else
      li Il n'y a aucun exemplaire.