extends layout

block content
  h1= title
  
  ul
    each book in book_list
      li 
        a(href=book.url) #{book.title} 
        |  (#{book.author.name})

    else
      li Il n'y a aucun livre.